.cityLineDiv {
    display: inline-block;
    height: auto;
    position: relative;
    left: 40px;
    top: 163px;
}
.grayLine2{
    width: 1px;
    display: inline-block;
    height: 100%;
    background-color: #e5e5e5;
    position: relative;
    float: right;
    top: -557px;
    left: 25px;
    z-index: 1;
}
.redLine2{
    display: inline-block;
    width: 4px;
    background-color: #ED0000;
    height: 60px;
    position: relative;
    top: -43px;
    left: 204px;
    z-index: 2; 
}
.choosedCity{
    font-size: 26px;
    font-family: kai;
    color: #ED0000;
    line-height: 26px;
    text-align: right;
}
.cityDiv{
    height: 60px;
    width: 182px;
}
.otherCity{
    font-size: 18px;
    font-family: kai;
    color: #6B6C78;
    line-height: 26px;
    text-align: right;
}
.otherCity:hover{
    color: #ED0000;
}
.choosedCity:hover{
    color: #ED0000;
}