.cityLineDiv {
    display: inline-block;
    height: auto;
    position: relative;
    left: 80px;
    top: 200px;
}
.grayLine{
    width: 1px;
    display: inline-block;
    height: 100%;
    background-color: #e5e5e5;
    position: relative;
    float: right;
    top: -318px;
    left: 25px;
    z-index: 1;
}
.redLine{
    display: inline-block;
    width: 4px;
    background-color: #ED0000;
    height: 60px;
    position: relative;
    top: -77px;
    left: 204px;
    z-index: 2; 
}
.choosedCity{
    font-size: 26px;
    font-family: kai;
    color: #2C2E3F;
    line-height: 26px;
    text-align: right;
}
.cityDiv{
    height: 60px;
    width: 182px;
}

.otherCity{
    font-size: 20px;
    font-family: kai;
    color: #2C2E3F;
    line-height: 26px;
    text-align: right;
}