.commentDiv{
    display: inline-block;
    width: 90%;
    position: relative;
    left: 20px;
}
.commentNum{
    display: inline-block;
    position: relative;
    font-size: 28px;
    color: #000000;
    font-family: kai;
}
.ant-comment-content-author-name{
    position: relative;
    font-size: 18px ! important;
    font-family: kai;
}
.ant-comment-content-detail{
    position: relative;
    font-size: 20px ! important;
    font-family: kai;
}
.textArea1{
    border-radius: 0px ! important;
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: kai;
}
.buttonArea1{
    border-radius: 0px ! important;
    float: right;
    margin-bottom: 50px;
    background-color: #ED0000 !important;
    border: 0px !important;
    width: 128px !important;
    height: 40px !important;
    letter-spacing: 1px !important;
    font-size: 18px !important;
    font-family: kai;
}
.inputArea1{
    border-radius: 0px ! important;
    margin-bottom: 20px;
    font-family: kai;
}
.ant-comment-content-detail{
    line-height: 42px ! important;
    position: relative;
}
.ant-comment-avatar{
    margin-right:0px;
}
.ant-comment-inner{
    margin-top: 10px;
    margin-bottom: -40px;
}