.recordDiv{
    width: 90%;
}
.mapImg{
    display: inline-block;
    position: relative;
    width: 100%;
    left: 20px;
    top: -15px;
}
.travilWord{
    display: inline-block;
    position: relative;
    left: 20px;
    font-size: 20px;
    line-height: 42px;
    color: #2C2E3F;
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: kai;
}