.timeLineDiv {
    display: inline-block;
    height: auto;
    position: relative;
    left: 44px;
    top: 200px;
}

.grayLine{
    width: 1px;
    display: inline-block;
    height: 100%;
    background-color: #e5e5e5;
    position: relative;
    float: right;
    top: -318px;
    left: 25px;
    z-index: 1;
}

.redLine{
    display: inline-block;
    width: 4px;
    background-color: #ED0000;
    height: 100px;
    position: relative;
    top: -77px;
    left: 204px;
    z-index: 2;
}

.choosedFist{
    font-size: 26px;
    font-family: kai;
    color: #2C2E3F;
    line-height: 26px;
    text-align: right;
}

.firstDiv{
    font-size: 16px;
    font-family: kai;
    color: #6B6C78;
    line-height: 16px;
    text-align: right;
}

.itemDiv {
    height: 100px;
    width: 182px;
}

.choosedSecond{
    font-size: 16px;
    font-family: kai;
    color:#80818B;
    line-height: 16px;
    margin-top: 16px;
    text-align: right;
}
.secondDiv{
    font-size: 16px;
    font-family: kai;
    color: #BFC0C5;
    line-height: 16px;
    margin-top: 16px;
    text-align: right;
}
.contentDiv{
    display: inline-block;
    width: 78%;
    position: absolute;
    top: 485px;
    left: 280px;
    padding-top: 17px;
}