.timeLineDiv {
    display: inline-block;
    height: auto;
    position: relative;
    left: 40px;
    top: 165px;
}

.grayLine{
    width: 1px;
    display: inline-block;
    height: 100%;
    background-color: #e5e5e5;
    position: relative;
    float: right;
    top: -334px;
    left: 25px;
    z-index: 1;
}

.redLine{
    display: inline-block;
    width: 4px;
    background-color: #ED0000;
    height: 100px;
    position: relative;
    top: -77px;
    left: 204px;
    z-index: 2;
}

.choosedFist{
    font-size: 26px;
    font-family: kai;
    color: #ED0000;
    line-height: 26px;
    text-align: right;
}
.firstDiv{
    font-size: 16px;
    font-family: kai;
    color: #6B6C78;
    line-height: 16px;
    text-align: right;
}
.itemDiv {
    height: 55px;
    width: 182px;
    margin-bottom:50px; 
}
.itemDiv:hover  .firstDiv{
    color: #ED0000;
}
.itemDiv:hover  .secondDiv{
    color: #80818B;
}
.choosedSecond{
    font-size: 16px;
    font-family: kai;
    color:#80818B;
    line-height: 16px;
    margin-top: 16px;
    text-align: right;
}
.secondDiv{
    font-size: 16px;
    font-family: kai;
    color: #BFC0C5;
    line-height: 16px;
    margin-top: 16px;
    text-align: right;
}
.contentDiv{
    display: inline-block;
    width: 70%;
    position: absolute;
    top: 450px;
    left: 300px;
    padding-top: 15px;
}